<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encurtador de URL</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Encurtador de Url</h1>
      <p>Encurte seus links de forma rápida.</p>

      <form method="POST">
        <div class="input-group">
          <input
            type="url"
            name="url_longa"
            placeholder="Cole seu link gigante aqui..."
            required
          />
        </div>
        <button type="submit">Gerar Link Curto</button>
      </form>

      <div class="result-box">
        <span class="result-label">PRONTO PARA USAR:</span>
        <div class="url-display">
          <a href="{{ url_result }}" id="shortUrl" target="_blank"
            >{{ url_result }}</a
          >
          <button class="copy-btn" onclick="copyToClipboard()">Copiar</button>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard() {
        const urlText = document.getElementById("shortUrl").innerText;
        navigator.clipboard.writeText(urlText).then(() => {
          const btn = document.querySelector(".copy-btn");
          btn.innerText = "Copiado!";
          btn.style.background = "#22c55e";
          setTimeout(() => {
            btn.innerText = "Copiar";
            btn.style.background = "#334155";
          }, 2000);
        });
      }
    </script>
  </body>
</html>
